<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layouts/main}">
<head>

<!-- CSS  -->
<style>
.card-content {
	height: 180px;
}

.navDropDownIcon {
	height: 22px;
	line-height: 22px;
}
</style>

<link rel="stylesheet" type="text/css" href="resources/css/style.css"
	th:src="@{/resources/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">

		<div id="umodal" class="modal">
			<div class="modal-content">
				<h4 class="modal-title">Update Something</h4>
				<form id="edit-form" role="form" th:method="post"
					th:action="@{/globalconfig/update}" th:object="${globalConfig}">
					<!-- 
					<input id="update-id" type="hidden" th:field="*{id}"
						th:value="${globalConfig.id}" /> <input id="update-webSafeKey"
						type="hidden" th:field="*{webSafeKey}"
						th:value="${globalConfig.webSafeKey}" /> 
						 
						<input id="update-key"
						type="hidden" th:field="*{key}" th:value="${globalConfig.key}" />
						-->
					<div class="row">
						<div class="input-field col s12">
							<input id="update-value" th:field="*{value}"
								th:value="${globalConfig.value}" type="text" placeholder="Value" />
							<label for="update-value">Value</label>
						</div>
					</div>
					<button class="btn btn-success" type="submit">Save</button>
				</form>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->

		<h1>Global Config</h1>

		<table class="highlight responsive-table">
			<thead>
				<tr>
					<th>Parameter</th>
					<th>Value</th>
					<th>ope</th>
				</tr>
			<thead>
			<tbody>
				<tr th:each="globalConfig : ${globalConfigs}">
					<td th:text="${globalConfig.key}">Onions</td>
					<td th:text="${globalConfig.value}">2.41</td>
					<td><a class="waves-effect waves-light btn modal-trigger"
						href="#umodal">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
