<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<import resource="classpath:/spring/securityContext.xml" />

	<bean id="modelMapper" class="org.modelmapper.ModelMapper" />

	<bean id="objectMapper"
		class="com.fasterxml.jackson.databind.ObjectMapper" />

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:i18n\messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="objectifyRegistration"
		class="io.crs.hsys.server.repository.ofy.ObjectifyRegistration" />

	<bean id="requestHolder"
		class="io.crs.hsys.server.security.RequestHolder" scope="request">
		<aop:scoped-proxy />
	</bean>

	<!-- ======== -->
	<!-- SERVICES -->
	<!-- ======== -->
	<bean id="globalConfigService"
		class="io.crs.hsys.server.service.ofy.GlobalConfigServiceImpl">
		<constructor-arg ref="globalConfigRepository" />
	</bean>
	<bean id="accountService"
		class="io.crs.hsys.server.service.ofy.AccountServiceImpl">
		<property name="accountRepository" ref="accountRepository" />
		<property name="appUserService" ref="appUserService" />
	</bean>
	<bean id="userGroupService"
		class="io.crs.hsys.server.service.ofy.UserGroupServiceImpl">
		<constructor-arg ref="userGroupRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="appUserService"
		class="io.crs.hsys.server.service.ofy.AppUserServiceImpl">
		<constructor-arg ref="loggedInChecker" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="appUserRepository" />
		<constructor-arg ref="passwordEncoder" />
	</bean>


	<bean id="taskGroupService"
		class="io.crs.hsys.server.service.ofy.TaskGroupServiceImpl">
		<constructor-arg ref="taskGroupRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="taskTodoService"
		class="io.crs.hsys.server.service.ofy.TaskTodoServiceImpl">
		<constructor-arg ref="taskTodoRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="taskTypeService"
		class="io.crs.hsys.server.service.ofy.TaskTypeServiceImpl">
		<constructor-arg ref="taskTypeRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="taskService"
		class="io.crs.hsys.server.service.ofy.TaskServiceImpl">
		<constructor-arg ref="taskRepository" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="loggedInChecker" />
	</bean>


	<bean id="profileService"
		class="io.crs.hsys.server.service.ofy.ProfileServiceImpl">
		<constructor-arg ref="profileRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="organizationService"
		class="io.crs.hsys.server.service.ofy.OrganizationServiceImpl">
		<constructor-arg ref="organizationRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="contactService"
		class="io.crs.hsys.server.service.ofy.ContactServiceImpl">
		<constructor-arg ref="contactRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="profileGroupService"
		class="io.crs.hsys.server.service.ofy.ProfileGroupServiceImpl">
		<constructor-arg ref="profileGroupRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="relationshipService"
		class="io.crs.hsys.server.service.ofy.RelationshipServiceImpl">
		<constructor-arg ref="relationshipRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>
	<bean id="profileLinkService"
		class="io.crs.hsys.server.service.ofy.ProfileLinkServiceImpl">
		<constructor-arg ref="profileLinkRepository" />
		<constructor-arg ref="accountRepository" />
	</bean>

	<bean id="chatService"
		class="io.crs.hsys.server.service.ofy.ChatServiceImpl">
		<constructor-arg ref="chatRepository" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="fcmService" />
		<constructor-arg ref="objectMapper" />
	</bean>
	<bean id="fcmService"
		class="io.crs.hsys.server.service.impl.FcmServiceImpl">
	</bean>


	<bean id="hotelService"
		class="io.crs.hsys.server.service.ofy.HotelServiceImpl">
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="hotelRepository" />
	</bean>
	<bean id="roomService"
		class="io.crs.hsys.server.service.ofy.RoomServiceImpl">
		<constructor-arg ref="roomRepository" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="hotelRepository" />
		<constructor-arg ref="reservationRepository" />
	</bean>
	<bean id="roomTypeService"
		class="io.crs.hsys.server.service.ofy.RoomTypeServiceImpl">
		<constructor-arg ref="roomTypeRepository" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="hotelRepository" />
		<constructor-arg ref="roomRepository" />
	</bean>
	<bean id="marketGroupService"
		class="io.crs.hsys.server.service.ofy.MarketGroupServiceImpl">
		<constructor-arg ref="marketGroupRepository" />
		<constructor-arg ref="accountRepository" />
		<constructor-arg ref="hotelRepository" />
	</bean>


	<!-- ============ -->
	<!-- REPOSITORIES -->
	<!-- ============ -->
	<bean id="globalConfigRepository"
		class="io.crs.hsys.server.repository.ofy.GlobalConfigRepositoryImpl" />
	<bean id="accountRepository"
		class="io.crs.hsys.server.repository.ofy.AccountRepositoryImpl" />
	<bean id="userGroupRepository"
		class="io.crs.hsys.server.repository.ofy.UserGroupRepositoryImpl" />
	<!-- <bean id="roleRepository" class="io.crs.hsys.cloud.server.repository.ofy.RoleRepositoryImpl" 
		/> -->
	<bean id="appUserRepository"
		class="io.crs.hsys.server.repository.ofy.AppUserRepositoryImpl" />


	<bean id="taskGroupRepository"
		class="io.crs.hsys.server.repository.ofy.TaskGroupRepositoryImpl" />
	<bean id="taskTodoRepository"
		class="io.crs.hsys.server.repository.ofy.TaskTodoRepositoryImpl" />
	<bean id="taskTypeRepository"
		class="io.crs.hsys.server.repository.ofy.TaskTypeRepositoryImpl" />
	<bean id="taskRepository"
		class="io.crs.hsys.server.repository.ofy.TaskRepositoryImpl" />


	<bean id="profileRepository"
		class="io.crs.hsys.server.repository.ofy.ProfileRepositoryImpl" />
	<bean id="organizationRepository"
		class="io.crs.hsys.server.repository.ofy.OrganizationRepositoryImpl" />
	<bean id="contactRepository"
		class="io.crs.hsys.server.repository.ofy.ContactRepositoryImpl" />
	<bean id="profileGroupRepository"
		class="io.crs.hsys.server.repository.ofy.ProfileGroupRepositoryImpl" />
	<bean id="relationshipRepository"
		class="io.crs.hsys.server.repository.ofy.RelationshipRepositoryImpl" />
	<bean id="profileLinkRepository"
		class="io.crs.hsys.server.repository.ofy.ProfileLinkRepositoryImpl" />
	<!-- <bean id="guestRepository" class="io.crs.hsys.server.repository.ofy.GuestRepositoryImpl" 
		/> -->


	<bean id="hotelRepository"
		class="io.crs.hsys.server.repository.ofy.HotelRepositoryImpl" />
	<bean id="roomRepository"
		class="io.crs.hsys.server.repository.ofy.RoomRepositoryImpl" />
	<bean id="roomTypeRepository"
		class="io.crs.hsys.server.repository.ofy.RoomTypeRepositoryImpl" />
	<bean id="marketGroupRepository"
		class="io.crs.hsys.server.repository.ofy.MarketGroupRepositoryImpl" />


	<bean id="chatRepository"
		class="io.crs.hsys.server.repository.ofy.ChatRepositoryImpl" />


	<bean id="reservationRepository"
		class="io.crs.hsys.server.repository.ofy.ReservationRepositoryImpl" />


</beans>